<div class="login">
    <h1>Automatic Keyword Extractor</h1>
    <h2>Giriş Yap</h2>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">Mail:</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Enter your mail" required>
        </div>
        <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Oturum Aç</button>
    </form>
    <div class="signup-text">
        Hesabınız yok mu? <a (click)="kayit()">Kayıt olun</a>
    </div>
</div>
