<!-- document-upload.component.html -->
<app-nav></app-nav>
<div class="container">
    <div>
        <h2>Anahtar Kelime Çıkart</h2>
        
        <div class="form-group">
            <label for="category">Kategori:</label>
            <select id="category" class="form-control" [(ngModel)]="selectedCategory">
                <option value="haber">Haber</option>
                <option value="akademik">Akademik</option>
            </select>
        </div>
    
        <div class="form-group">
            <label for="title">Başlık:</label>
            <input type="text" id="title" class="form-control" [(ngModel)]="title">
        </div>
    
        <div class="form-group">
            <label for="textArea">Metin Kutusu:</label>
            <textarea id="textArea" class="form-control" [(ngModel)]="content" rows="10" style="resize: none;"></textarea>
        </div>

        <div class="form-group">
            <label>Dokümanınız başkaları tarafından görüntülensin mi?</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="viewable" id="yes" value="yes"  [(ngModel)]="ispublic">
                <label class="form-check-label" for="yes">Evet</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="viewable" id="no" value="no"  [(ngModel)]="ispublic">
                <label class="form-check-label" for="no">Hayır</label>
            </div>
        </div>
        
        <button (click)="submit()" class="btn btn-primary">Yükle</button>
    </div>
  
    <!-- Taranan Anahtar Kelimeler -->
    <div class="row">
        <div>
            <h2>Anahtar Kelimeler</h2>
            <ul>
                <li *ngFor="let keyword of keywords">{{ keyword }}</li>
            </ul>
            <textarea class="form-control" rows="10" style="resize: none;" *ngIf="uploadResult">{{ keywords.join(', ') }}</textarea>
            <!-- <div *ngIf="errorMessage">
                <h3>Hata</h3>
                <p>{{ errorMessage }}</p>
            </div> -->
        </div>
    </div>
</div>