<!-- home.component.html -->

<div class="home">
    <h1>Automatic Keyword Extractor</h1>
        <p>Automatic Keyword Extractor (AKE) ile metin analizinde devrim yaratın! Bu güçlü araç,
             metinleri temizleyip kelime ağırlıklarını hesaplar ve en yüksek öneme sahip anahtar 
             kelimeleri tespit eder.İleri düzey teknikler kullanılarak geliştirilmiş olan AKE, 
             büyük veri kümelerinizdeki temel kavramları hızlı ve etkili bir şekilde ortaya çıkarır. 
             İş süreçlerinizi hızlandırmak ve verimliliği artırmak  için tercih edebilirsiniz.</p>
    <button  class="btn" (click)="taraAnahtarKelimeler()">Ücretsiz Anahtar Kelime Tarayın</button>
</div>

